body {
    margin: 0;
    font-family: sans-serif;
}
.header-right{
    display: flex;
    flex: 1;
    color: white;
    text-align:center;
}
.spacer{
    display: flex;
    flex: 4.2;
}
.header {

    display: flex;
    overflow: hidden;
    background-color: #111021;
    padding: 20px 10px;
    width: 100%;
}
.header a , header > a:visited{
    float: left;
    color: white;
    text-align:center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 5px;
}
.header a:hover {
    background-color: #a8ffd5;
    color: black;
}
.header.active {
    background-color: green;
    color: white;
}
.header-left{
    display: flex;
    flex: 1;
    align-items: center;
}
.header .logo{
    width: 3vw;
    height: 3vw;
}


.header-right, .header-left{
    padding: 7px;
}

/*center stuff */
#grad1 {
    height: 500px;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(27,27,51), rgb(13,10,31));
}

#bannerGrad{
    height: 40px;
    background-color: rgb(59,47,155);
    background-image: linear-gradient(rgb(28,22,67),rgb(15,13,35));
}






footer{
    margin-top: 0;
    background-color: #111021;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    position:absolute;
    bottom:0;
    width:100%;
}

footer > a, footer a:visited{
    color: #a8ffd5;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-left {
        float: left;
    }


}