* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{min-height: 100%;
    height: 100%;
    background-color: #0D0A1F;

}
body {
    height: 100%;
    overflow:auto;
    background: linear-gradient(to bottom , #1B1B33, #0d0a1f) no-repeat;
    background-size: cover;


}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0F0D23;
    opacity: 0.5;
}

/*Header shite*/
.header-right{
    display: flex;
    flex: 0.8;
    color: white;
    text-align:center;
}
.spacer{
    display: flex;
    flex: 4.2;
}
.header {

    display: flex;
    overflow: hidden;
    background-color: #111021;
    padding: 20px 10px;
    width: 100%;
}
.header .pagebutton , header > .pagebutton:visited{
    float: left;
    color: white;
    text-align:center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 5px;
}
.header .pagebutton:hover {
    color: #a8ffd5;
    transition: 0.5s;
}
.header.active {
    background-color: green;
    color: white;
}
.header-left{
    display: flex;
    flex: 1;
    align-items: center;
}
.header .logo{
    width: 3vw;
    height: 3vw;
}
#topupBut{
    padding-right: 0;
    padding-left: 0;
    display: flex;
    align-items: center;

}

 .header-left, .profile{
    padding: 7px;
}

.profile{
    display: flex;
    flex: 0;
    align-items: center;
}
.profile .profilePicture{
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    padding: 5px;
}
.profile_link > img:hover{
    transition: 0.3s;
    border: #a8ffd5;
    background-color: #a8ffd5;
}

/*center stuff */
.backgroundGrad {
    color:white;


}
.loginForms {
    padding: 5px;
    color: #3b2f9b;
    width: 650px;
    height:50px;
    background-color: rgb(28,22,67);
    font-size:35px;
}
.loginSubmit {
    padding: 5px;
    color: #3b2f9b;
    width: 650px;
    height:50px;
    background-color: rgb(168,255,213);
    font-size:35px;
    text-align: left;
}
.topUpForm{
    color: #3b2f9b;
    width: 400px;
    height:50px;
    background-color: rgb(28,22,67);
    font-size:40px;
}
.topUpSubmit{
    background-color:#a8ffd5;
    width: 150px;
    height:50px;
    color: #3b2f9b;
    font-size:40px;
}
.space{
    width:25%;
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.topUpBox{
    background-color:rgba(17,16,33,50);
    padding: 30px;
    width:50%;
    margin: 50px;
    display:flex;
    height:40%;
    flex-wrap: wrap;
    color:#a8ffd5;

}
.innerBox{
    padding-left:17%;
    padding-right:17%;
    width:100%;
    height:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#333333;
}
.bannerGrad{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(59,47,155);
    background-image: linear-gradient(rgba(28,22,67,10), rgb(15, 13, 35));
}
.centerLogo{
    height:25vw;
    width:25vw;
    display:flex;
    align-items:center;
    justify-content: center;

}




.button{
    background-image: linear-gradient(rgb(28, 22, 67),rgba(15,13,35,10));
    height:100%;
    color: #a8ffd5;
    width:100%;
}
.discount{
    text-align:center;
    padding-top: 7px;
    height: 30px;
    background-color: rgb(168,255,213);
    color: black;
    width:50px;
    font-size: 20px;
}

footer{
    position:relative;
    margin-top:10%;
    clear:both;
    background-color: #111021;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width:100%;
}

footer > a, footer a:visited{
    color: #a8ffd5;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-left {
        float: left;
    }


}
/*Store page shite*/
.gameBoxDesign{
    box-shadow: 0px 0px 10px #111021;
    background-size: 100%;
    flex-wrap: wrap;
    margin: 20px;
    height: 270px;
    width: 480px;
}
.gameContainer{
    flex: 3;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.mainContainerGame{
    display: flex;
    flex-direction: row;
}
.gameSpacerSide{
    flex: .5;
}
.storePageBoxTitle{
    background: rgba(29, 23, 74, 0.9);
    padding: 10px;
}

.storePageBoxPrice{
    display:flex;
    justify-content:right;



}
.storePagePrice2{
    background: rgba(168,255,213,.95);
    text-align: center;
    padding:1%;
    width:12%;
    color: rgb(29, 23, 74);
}
.storePriceParent{
    display: flex;
    text-align: right;
    flex-direction: column-reverse;
    height: 233px;


}
.imageIndex{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 25px;
}
.indexText{
    width: 100%;
    text-align: center;
    background-color: #3b2f9b ;
    font-size: 26px;
    padding: 30px;
    color: #ffffff;
    background-image: linear-gradient(#3b2f9b,
    #271f69);
    margin-top: 50px;
}
/*Index page boxeessssss*/
.indexMain{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.indexCenter{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.indexSpacer{
width: 20%;
}

.rowBox{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indexBox{
    width:31%;
    float:left;
    background: #111021;
    height: 250px;
    color: #a8ffd5;
    text-align: center;
}
.rowBox2{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.indexBox2{
    width:23%;
    float:left;
    background: #3b2f9b;
    height: 50px;
    color: #a8ffd5;
    text-align: center;
}
.indexBigBox{
    width:48.5%;
    height: 300px;
}
.imageBox{
    height:100%;
    width:100%
}
/*---------------------------------Scrollbar-------------------------------*/
::-webkit-scrollbar { /* Changes Appearance of scrollbar*/
    width: 0.5vw;
    background: rgba(34, 34, 34, 0.94);
}

::-webkit-scrollbar-thumb { /* changes colour of thumb*/
    background: #363636;
}

::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}
/* game page */
.gameImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 25px;
}
.gamePageText{
    margin-top: 25px;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 25px;
}
.gamePurchase{
    width:100%;
    background: #111021;
    height: 50px;
    text-align: center;
    font-size: 26px;
    flex-direction: row;
}
.gameSubmit{
    background-color:#a8ffd5;
    width: 100px;
    height:50px;
    color: black;
    font-size:26px;
}
.gameDescription{
    margin-top: 15px;
    margin-bottom: 15px;
    width:100%;
    background: rgba(17, 16, 33, 0.5);
    height: 50px;
    font-size: 15px;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    text-align: center;
}
